<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= subtitle %> | DIGI LAPOR</title>
<link rel="icon" href="/favicon.ico" />
<script src="https://cdn.tailwindcss.com"></script>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/assets/css/custom.css">
<style>
  body {
    font-family: "Poppins", sans-serif;
  }
  .sidebar-active {
    background-color: #3b82f6;
    color: #fff;
  }
  #sidebar {
    transition: width .3s ease, backdrop-filter .3s ease;
  }

  #sidebar-logo {
    transition: transform .3s ease;
  }

  .sidebar-text {
    transition: all .25s ease;
  }

</style>
